[2020-03-10 02:41] zonca opened #1 "Review maps weighting"
@keskitalo I've implemented the weighting for all the components,
can you please review that I implemented the weighting as expected?

In particular I assumed that the noise simulations contained just 1 tube.

Executed notebooks with the source of the functions are at:

* https://cmb-s4.github.io/s4_design_sim_tool/foregrounds/
* https://cmb-s4.github.io/s4_design_sim_tool/atmosphere/
* https://cm

[2020-03-10 17:57] zonca opened #2 "Scaling of atmosphere with tubes / telescopes"
Run the tool with the reference design configuration for all channels with:

* tensor to scalar ratio `r` = 0
* 1e-3

Release to the collaboration

[2020-03-10 18:11] jdborrill commented on #2
The two cases for r should be 0 & 3e-3

J

[2020-03-11 01:18] zonca opened #3 "Filtered foreground plots"
@keskitalo I am comparing my simulations and the outputs of the TOD filtering.

`cmbs4_combined_foregrounds_uKCMB_LAT-LFL1_nside4096_0000.fits`

![image](https://user-images.githubusercontent.com/383090/76372638-532d1c00-62fb-11ea-9fe8-bb1d57145175.png)

`chile_foreground_LAT_LFL1_filtered_telescope_all_time_all_bmap.fits`

![image](https://user-images.githubusercontent.com/383090/76372669-663fec0

[2020-03-11 06:50] keskitalo commented on #3
Absolutely. The filtering will annihilate all large scale temperature structure, which is fine, because there is nothing there to discover after Planck.

[2020-03-11 14:29] #3 closed

[2020-03-12 04:06] zonca opened #4 "web interface"
@keskitalo @jdborrill

I have created a first version of the web interface:

http://132-249-238-90.compute.cloud.sdsc.edu/

* To exercise the interface, for now only generates the TOML, doesn't actually run the tool
* It is automatically generated from a standard notebook using ipywidgets, https://github.com/CMB-S4/s4refsimtool/blob/master/05_ui.ipynb
* It is deployed on a Virtual Machine at SDSC,

[2020-03-12 04:20] tskisner commented on #4
@zonca, the interface looks fine (any idea why the load time was slow?).  How are you launching the notebook?  Directly with jupyter?  If so, then I have everything needed to work on the docker compose file.

[2020-03-12 04:22] zonca commented on #4
you run `voila --port 80 --no-browser  05_ui.ipynb`, requirements are `toml` `voila` `ipywidgets`, do not install `toml` with conda but `pip`

[2020-03-12 18:24] keskitalo commented on #4
@zonca when I try to follow the link I get an error: "132-249-238-90.compute.cloud.sdsc.edu unexpectedly closed the connection." Is the interface still working for you?

[2020-03-12 18:26] zonca commented on #4
Yes, it is working now, can you try again? Maybe test in incognito mode?

[2020-03-12 18:27] zonca commented on #4
Also make sure you are not being redirected to https by your browser

[2020-03-12 18:47] keskitalo commented on #4
It worked the second time around. Looks really neat! Why are the field names truncated like this:
<img width="412" alt="Screen Shot 2020-03-12 at 11 45 05" src="https://user-images.githubusercontent.com/596250/76556625-23932680-6457-11ea-84cf-0c38191e905b.png">

[2020-03-12 18:51] zonca commented on #4
yes, I noticed that, those are default layout settings, I will fix later on

On Thu, Mar 12, 2020 at 11:47 AM Reijo Keskitalo <notifications@github.com>
wrote:

[2020-03-19 21:26] zonca commented on #4
@jdborrill @keskitalo @tskisner ok, I have a first version of the simulation web interface:

https://132-249-238-90.compute.cloud.sdsc.edu/

sometimes it hangs and I have to restart the process, not sure what is going on.
It is only running 1 SAT band at Pole for now, I will add the rest once the input maps are all available.

[2020-03-26 21:48] zonca commented on #1
@keskitalo would you take a look at this before next week?

[2020-03-26 21:53] zonca commented on #2
@keskitalo do you think we are going to get realization 0 of the atmosphere for all channels sometimes before this Sunday? if so I'll wait and will run maps and do slides based on the full run, otherwise I'll just do an example run with a few channels.

[2020-03-26 22:03] keskitalo commented on #2
@zonca realization 0 without a doubt, but hopefully all 8 realizations. I was almost done with the caching when I learned that the reported focal plane radii in the hardware configuration are underestimated. As a result, the simulated atmosphere does not span enough of a volume to fit the lines-of-sight. I'm caching the atmosphere again...

[2020-03-27 19:21] keskitalo commented on #1
@zonca can you check the links, I just get an error: 404
There isn't a GitHub Pages site here.

[2020-03-27 19:32] zonca commented on #1
@keskitalo it was the package name change, fixed now

[2020-03-27 19:33] zonca commented on #1
or you can take a look at the notebooks themselves, e.g. https://github.com/CMB-S4/s4_design_sim_tool/blob/master/01_foregrounds.ipynb

[2020-03-27 19:53] keskitalo commented on #1
Thanks @zonca. All three notebooks look great. We should be very explicit about the fact that we assume that atmosphere scales by telescope time, not tube or detector time. We may even be asked to relax that approximation in the future.

[2020-03-27 23:29] zonca commented on #1
ok, thanks for reviewing this, added to the docs:

https://cmb-s4.github.io/s4_design_sim_tool/

you can edit `index.ipynb` to improve it.

[2020-03-27 23:29] #1 closed

[2020-03-29 17:56] zonca commented on #2
@keskitalo I wanted to pick 4 channels (1 per telescope per site) from the atmosphere outputs that you generated.
But I noticed now you deleted them from:

    `/global/cscratch1/sd/keskital/s4sim/reference_tool/out/00000000`

I assume they were broken.
Fortunately I have 1 channel that I saved on my VM and I will use that single SAT channel to demo the tool, even if broken, it will do for now.
We

[2020-03-30 13:48] keskitalo commented on #2
@zonca Here is the current simulation status:

[code]

I'm still working to complete the first batch of atmosphere maps. Sorry for the delay.

-R

[2020-03-30 16:29] keskitalo commented on #2
@zonca the first realization is in place for all tubes.

[2020-03-30 16:46] zonca commented on #2
thanks @keskitalo, I am running them through

[2020-03-31 02:07] zonca commented on #2
ok, I got the reference design with `r=3e-3`,

https://132-249-238-90.compute.cloud.sdsc.edu/output//reference-design-r-3e-3/

next `r=0`.

[2020-03-31 16:38] zonca commented on #2
ok, `r=0` is at https://132-249-238-90.compute.cloud.sdsc.edu/output/reference-design-r-0/

next, I'll do:

* [ ] cross-checks, plots
* [ ] add documentation about these
* [ ] copy to NERSC
* [ ] announce a proper release

[2020-04-01 16:47] zonca opened #5 "Documentation about atmosphere, noise, scanning"
We have some docs here https://cmb-s4.github.io/s4_design_sim_tool/#Noise-maps
about the noise maps.
I think it would be useful to know more about all the details with links to the wiki or to the TOAST documentation to get more details, specifically about:

* Atmosphere: model, configuration parameters
* Scanning: minimum elevation, type of scanning strategy, sky area
* Instrument noise: where are

[2020-04-07 17:40] ajvanengelen opened #6 "unlensed and lensed cmb maps"
Currently the code contains a sliding knob that does a linear combination between the lensed and unlensed CMB maps.  In my view the code should return either the lensed map or the unlensed one -- lensing is a nonlinear operation and doing a simple linear combination between the two is not a valid approximation.  Delensing is being explored in detail by the appropriate working groups, and they will

[2020-04-24 04:21] zonca commented on #5
@keskitalo I am almost ready to release the first set of maps, we need some documentation about noise and atmosphere, can you please add some pointers?

[2020-04-24 04:26] keskitalo commented on #5
@zonca Sorry, this fell in the cracks. I'll try to address it tomorrow.

[2020-04-24 04:49] zonca commented on #2
@keskitalo @jdborrill
ok, I don't have the CMB ready, so can't do the full release but it seems like noise is priority.
So I ran noise+atmosphere only.
Maps are ready, I would like to announce release tomorrow or monday.

Here the documentation:
https://github.com/CMB-S4/s4mapbasedsims/tree/master/202004_reference_design

I think we need more docs about noise and atmosphere in the design tool (see

[2020-04-24 13:47] jdborrill commented on #2
Hi Andrea,

Before we release more widely we should get Colin's validation.

Thanks,

Julian

On Thu, Apr 23, 2020 at 9:49 PM Andrea Zonca <notifications@github.com>
wrote:

[2020-04-24 18:18] keskitalo commented on #5
I added details here: https://cmb-s4.org/wiki/index.php/Reference_design_simulation_tool

[2020-04-24 19:39] #5 closed

[2020-04-24 22:04] zonca commented on #2
I am making a check of the white noise level in the maps, using the sensitivity from the table in the DRS.

![Screenshot 2020-04-24 at 00 33 28](https://user-images.githubusercontent.com/383090/80259865-6a219680-863b-11ea-9661-f83f297c3f60.png)

So for LFL1 I took 383 microKsqrt(s).

I made the calculation and it is way off.

![image](https://user-images.githubusercontent.com/383090/80260404-af929

[2020-04-24 23:04] zonca commented on #2
one issue is that high noise ell is dominated by the atmosphere.
So if I do the same exercise for the input maps at 10 days, and I take instead the NET from `s4sim` of 177 instead of 383 (see https://github.com/CMB-S4/s4sim/issues/7). I get:

![image](https://user-images.githubusercontent.com/383090/80263153-84ac3d80-8644-11ea-9fa7-10a50a385df0.png)

From the map `C_ell = 1.36e-15`, from the NET `

[2020-04-24 23:34] zonca commented on #2
ok, I made a full comparison including also the atmosphere:

![image](https://user-images.githubusercontent.com/383090/80264472-1d44bc80-8649-11ea-8b44-956a5d70b9f7.png)

Do you think it looks reasonable?

see the full notebook at https://gist.github.com/zonca/1914abdc08ee1ce00c719fc3aa5f94c7

[2020-04-27 13:55] cbischoff commented on #2
Which spectrum is this? TT, EE, BB? If it is a polarization spectrum, then the atmospheric noise is extremely pessimistic. See [this figure](http://bicep.rc.fas.harvard.edu/CMB-S4/analysis_logbook/20180810_noise/index.html#figure5), for example -- BB noise spectrum from ACTpol 2yr result gets to 1e-16 K^2 at ell=500, which is more than an order of magnitude better than the orange curve.

I'm worri

[2020-04-27 16:05] keskitalo commented on #2
@cbischoff This must be temperature. Without gain and bandpass mismatch, the simulation does not have a mechanism to convert atmosphere-based temperature fluctuations into polarization.

Exactly how we choose to scale the atmospheric noise by detector count is open for discussion. We know that it is very correlated between detectors and won't scale as instrumental noise but beyond that things get

[2020-04-27 16:10] keskitalo commented on #2
I should also point out that the spectrum above is for the Chile SAT LF1 case. The fraction of uniformly-weighted sky is 69%.

[2020-04-27 16:15] cbischoff commented on #2
Doesn't your atmospheric noise model actually calculate lines of sight through some 3d Kolmogorov distribution? If so, then don't the detectors naturally show partial, but not complete, correlation? Or does the scaling come in because you do the atmospheric sim for just a small number of detectors? (how many?)

[2020-04-27 16:23] keskitalo commented on #2
The correlations between detectors within a tube are simulated and accounted for. We only simulate one tube on each telescope. Since the footprint of the tubes on each telescope perfectly overlap, we decided to approximate that the additional tubes on the telescope do not average down the atmosphere. Separate telescopes are treated as independent.

In real life, there probably is some, scale depen

[2020-04-27 16:42] tcrawfor commented on #2
I'm not sure what this means. Within an individual telescope, the different tubes are both physically and angularly separated. So, depending on where the ray bundles from the individual detectors start expanding, the different tubes might see very different atmosphere.

--
Tom Crawford
University of Chicago
Department of Astronomy & Astrophysics
773-702-1564

[2020-04-27 16:52] keskitalo commented on #2
Thanks @tcrawfor . Indeed, this point remains unsettled. In the current model, the majority of the atmospheric power comes from 100m-sized correlated structures a kilometer away from the telescope.  I would expect a high degree of correlation between detectors looking at the same location on the celestial sphere, even if they were on different but adjacent optics tubes. As I said, there will proba

[2020-04-27 17:04] tcrawfor commented on #2
But the different tubes in a single telescope are *not* looking at the same location on the celestial sphere. In a given instant, the sky is imaged onto the focal plane, and the physically separated tubes necessarily intercept different portions of that image.

--
Tom Crawford
University of Chicago
Department of Astronomy & Astrophysics
773-702-1564

[2020-04-27 17:15] keskitalo commented on #2
That seems like a semantic issue. If the FOV overlap then they, by definition, converge at infinity. The question seems to be if the modest separation of the tubes at the telescope is enough to decorrelate the observations.

I sent a question to the SAT group for another opinion.  I am out of my depth here and my naive thinking is probably less than helpful.

[2020-04-27 17:17] tcrawfor commented on #2
No, this is my fault. I had not read carefully enough, and I was thinking of LAT configuration, in which the different optics tubes in a single telescope can (by definition) not see the same sky.

--
Tom Crawford
University of Chicago
Department of Astronomy & Astrophysics
773-702-1564

[2020-04-27 17:21] keskitalo commented on #2
That certainly explains some of the confusion. It still remains that our model of not weighting down the atmosphere by the number of tubes is pessimistic. I am curious to hear from the SAT experts just how pessimistic they find it.

[2020-04-27 17:23] jdborrill commented on #2
Although we're using this approach (which I thought we'd discussed and
agreed on the DM telecon) for both LATs and SATs, no?

Julian

On Mon, Apr 27, 2020 at 10:17 AM tcrawfor <notifications@github.com> wrote:

[2020-04-27 17:34] keskitalo commented on #2
Yes, the LAT tubes are also treated as perfectly correlated but for a very different reason. The FOV of the entire LAT focalplane is so small that the majority of atmospheric fluctuations are extremely correlated across all detectors.

Since the LAT FOVs do not overlap, we could just simulate all tubes and get realistic suppression from more tubes. From looking at ACT and SPT data, I really would

[2020-04-27 17:40] tcrawfor commented on #2
The LAT FOV is 8 degrees in diameter, right? Are you finding nearly perfect correlation all the way across the SPT-3G focal plane? I thought we could detect decorrelation even across the ~1 degree SPT-SZ focal plane, but I can't back that up with hard numbers.

--
Tom Crawford
University of Chicago
Department of Astronomy & Astrophysics
773-702-1564

[2020-04-27 17:48] zonca commented on #2
I found a bug in the scaling of the noise, I'm rerunning some maps to make a comparison, I'll open a new issue when I have results. Let's dedicate this issue to scaling of the atmosphere.

[2020-04-27 18:02] keskitalo commented on #2
@tcrawfor excellent point. The correlation functions on https://cmb-s4.org/wiki/index.php/Atmospheric_calibration_with_SPT certainly show a modest dependence between correlation strength and separation on the focalplane. And that is only considering separations of less than 2 degrees. Tubes across the CMB-S4 LAT will be more separated and less correlated than our pessimistic model here.

[2020-04-27 19:23] zonca opened #7 "Noise and atmosphere simulations comparison"
@keskitalo @cbischoff

Ok, I fixed the bugs in the noise and atmosphere scaling, now I believe the results are consistent.

I am using 177 microK * sqrt(s) for the white noise level both in T and P.

The spectra below are pseudospectra done with anafast, just corrected by the sky fraction, no mask deconvolution.
I scaled the input noise, the input atmosphere and the white noise level to the full e

[2020-04-27 22:37] zonca commented on #7
For SAT instead I have a large discrepancy:

## SAT HFS1

I take the input cl for 10 days I multiply by:

    (10 * simulations_efficiency / 8)

so I get noise for 1 tube and 1 day at 100% efficiency, and the full focal plane (8 is the thinning factor from the simulations).
Then I scale to 7 years at 20% efficiency and all tubes:

    (7 * 365.25 * .2) / 4

For the white noise level instead:

[2020-04-27 22:48] keskitalo commented on #7
Wow. Is that about a 3 orders of a magnitude difference? Has to be something obvious. We should start by estimating the single detector noise level from the simulated maps and see if it has anything to do with the value in the hardware map.

[2020-04-27 22:56] zonca commented on #7
ok, I'll do that and post here

[2020-04-27 23:06] zonca commented on #7
@keskitalo

`cl_full` is `anafast` of: `/global/cscratch1/sd/keskital/s4sim/reference_tool/out/00000000/pole_noise_SAT_HFS1_filtered_telescope_all_time_all_bmap.fits`

    std_per_pixel = np.sqrt(cl_full[1][500:].mean() / sky_fraction / pixarea)
    0.0004924752646626618

which is consistent with:

    full[1][full[1] != hp.UNSEEN].std()
    0.0004347912651196421

then I get the `integration_time_

[2020-04-27 23:14] keskitalo commented on #7
I have the hitmap for your case evaluated here: `/global/cscratch1/sd/keskital/s4sim/reference_tool/out2/00000000/pole_noise_SAT_HFS1_filtered_telescope_all_time_all_hmap.fits`

[2020-04-27 23:20] zonca commented on #7
what is the sample rate?

[2020-04-27 23:24] keskitalo commented on #7
20Hz

[2020-04-27 23:48] zonca commented on #7
ok, I think they are consistent:

    hits.sum()/1e9
    7.31

    total_hits = 10 * u.d * simulations_efficiency * num_detectors_per_tube / 8 * (20 * u.Hz)
    8.44e9

[2020-04-28 00:01] zonca commented on #7
@keskitalo if I take the `wcov` from Madam instead and I do:

    std_wcov = np.sqrt(wcov[5] * hits)

Shouldn't I get the NET? `np.median(std_wcov[std_wcov != 0])` is `0.0035`

[2020-04-28 00:13] keskitalo commented on #7
The hardware map has `NET=747.0uK/sqrt(Hz)`. With your `sigma=0.0035K_CMB` I get `NET=sigma/sqrt(fsample)=782.6uK`. Seems perfectly consistent to me.

[2020-04-28 00:16] zonca commented on #7
yes, right, hitmap and wcov are fine. It is the noise in the binned map which seems way too high, or I've messed up the calculations somewhere, I'll crosscheck again.

[2020-04-28 00:28] zonca commented on #7
If I get `C_ell` of the noise from the wcov for the full sky, as:

    wcov[3].mean()*pixarea
    4.7e-14 K ^ 2

is consistent with:

    cl_full[1][500:].mean()
    6.33e-14 K ^ 2

[2020-04-28 01:07] zonca commented on #7
from the DSR I have `num_detectors_per_tube = 8438`, where do I find the number of detectors in `s4sim`?

[2020-04-28 03:01] keskitalo commented on #7
From `/global/cscratch1/sd/keskital/s4sim/reference_tool/logs/pole_noise_SAT_HFS1.log` it looks like there were 1076 detectors (line 126) with `thinfp=8`.

[2020-04-28 06:15] zonca commented on #7
still something wrong, let's do without scaling, just the TOAST simulations:

* White noise from TOAST wcov `np.mean(wcov[wcov !=0]) * pixarea` is `7.2e-13`
* The simulated noise, EE with anafast just corrected for the sky fraction is `9e-13`
* The issue is the estimate from NET which is `1e-15`

        white_noise_cl_sims = pixarea * (747e-6)**2 / (
            10 * (24*3600) * 0.4629 * 1076 / n

[2020-04-28 14:29] keskitalo commented on #7
I think I know what is going on. TOAST modulates the raw detector sensitivity with the observing elevation. Increased atmospheric loading at low observing elevation reduces sensitivity. The model is
[code]
and the hardware map values for the HFS1 band are
[code]

This gives the following curve:

![elevation_noise](https://user-images.githubusercontent.com/596250/80498030-1905f100-8920-11ea-9d69-68

[2020-04-28 16:14] zonca commented on #7
thanks @keskitalo!
masking the 10% pixels with higher wcov and use median instead of mean to get the noise from wcov is enough to have a rough consistency check:

![SAT-HFS1_pole_EE (1)](https://user-images.githubusercontent.com/383090/80510968-54102080-8930-11ea-9f78-5a3b4488ec9a.png)
![SAT-HFS1_pole_BB (1)](https://user-images.githubusercontent.com/383090/80510972-55414d80-8930-11ea-9ed7-998a5f4

[2020-04-28 16:14] #7 closed

[2020-04-28 20:05] zonca opened #8 "Validation of reference design noise + atmosphere release"
SAT maps are available, LAT being finalized,
see https://github.com/CMB-S4/s4mapbasedsims/tree/master/202004_reference_design
for details and path at NERSC.

I've done a rough consistency check for LAT and SAT, see https://github.com/CMB-S4/s4_design_sim_tool/issues/7

@cbischoff could you please make a deeper validation and report results here (or provide a link to wiki)

/cc @jdborrill @keskital

[2020-04-28 20:32] zonca commented on #8
ok, LAT maps are available as well

[2020-05-01 16:00] zonca opened #9 "Process hitmaps and noise maps"
@keskitalo produced hitmaps and white noise covariance maps:

`/global/cscratch1/sd/keskital/s4sim/reference_tool/out2/00000000`

as part of the `s4_design_sim_tool` run, also apply appropriate scaling to those maps and release them together with the other maps.

[2020-05-01 16:07] jdborrill commented on #9
I'm confused about "also apply appropriate scaling to those maps and add
them to the output maps."

Julian

On Fri, May 1, 2020 at 9:01 AM Andrea Zonca <notifications@github.com>
wrote:

[2020-05-01 16:09] zonca commented on #9
@jdborrill bad phrasing, fixing that!

[2020-05-01 16:24] zonca opened #10 "Save outputs separately"
@keskitalo @jdborrill
currently I am saving 1 output map per band per site which includes:
* foreground
* cmb
* atmosphere
* noise
thanks to the configuration file, it is easy to make a different run with no foreground or no cmb, but impossible to make a noiseless run.

I wanted to implement saving all the outputs separately, so:
* foreground
* cmb (includes lensing and tensor modes)
* atmosphere

[2020-05-01 16:25] zonca commented on #6
ok, I'll implement this.

[2020-05-01 17:06] jdborrill commented on #6
Sorry to be late - I'd forgotten I'd meant to respond.

I'd like to keep the slider, while acknowledging its limitations. Many of
the WGs (Low-ell BB in particular) want maps that have at least an
approximation of delensing residuals without having to actually run
delensing codes, and are using exactly this technique to mock that up. In
the longer term we definitely want the delensing to be done,

[2020-05-01 17:17] ajvanengelen commented on #6
Hi Julian,
That is true, low-ell BB might be the one place where this is an OK approximation (since the unlensed map is zero, neglecting tensors).  I'd been thinking of the temperature and E maps at high ell.
Alex

[2020-05-01 19:31] zonca commented on #6
ok, thanks, adding a notice about this in the docs

[2020-05-01 19:32] #6 closed

[2020-05-12 17:58] zonca commented on #10
@cbischoff what do you think about the separation of the outputs I propose above?

[2020-05-12 18:24] cbischoff commented on #10
@zonca sounds good. It would be very helpful to have three separate maps for foreground, cmb, and atmosphere+noise.

[2020-05-13 17:55] zonca opened #11 "Location of input folder"
@keskitalo
some files in your scratch folder that contains the inputs:

    /global/cscratch1/sd/keskital/s4sim/reference_tool/out

are going to be purged soon,
I am copying the entire folder to:

    /global/cfs/cdirs/cmbs4/dm/dstool/input

But then I realized, do we want instead to use a folder under `www` so that it would be possible to run the tool remotely and download maps on the fly as need

[2020-05-13 18:04] keskitalo commented on #11
I think the `www` folder would be appropriate.

[2020-05-13 18:18] zonca commented on #11
ok, thanks,
I moved the folder to:

    /global/cfs/cdirs/cmbs4/www/dstool/input

also symlinked from `/global/cfs/cdirs/cmbs4/dm/dstool/input`

it is group writable, so @keskitalo you should be able to write your outputs directly there.

However access via web doesn't work https://portal.nersc.gov/project/cmbs4, I get access denied
@jdborrill I just created the `www` folder myself as it was missi

[2020-05-13 18:30] jdborrill commented on #11
Please don't make things group-writable.

Write to scratch, move to project as the cmbs4 pseudo-user.

J

On Wed, May 13, 2020 at 11:23 AM Andrea Zonca <notifications@github.com>
wrote:

[2020-05-13 18:34] zonca commented on #11
ok @jdborrill,
as soon as we are done continuously updating stuff I will make everything owned by cmbs4 and remove group-write.

[2020-05-14 22:38] zonca commented on #11
@jdborrill can you also please investigate the `www` access forbidden issue? (see above in this issue) otherwise I'll ask consult

[2020-05-14 22:40] jdborrill commented on #11
Can you ask consult? I have telecons till late tonight and again from early
morning.

Thanks,

Julian

On Thu, May 14, 2020 at 3:39 PM Andrea Zonca <notifications@github.com>
wrote:

[2020-05-14 23:04] zonca commented on #10
thanks @cbischoff, will do, easiest thing is to reconfigure and rerun the tool, no need to implement this explicitly, so that I keep the code simpler.

[2020-05-15 00:11] zonca opened #12 "Reference design CMB maps"
@keskitalo @jdborrill @cbischoff

I am still working on the B-modes, for now I have run CMB with `r=0`,
see the documentation at:

https://github.com/CMB-S4/s4mapbasedsims/blob/master/202004_reference_design/README.md#cmb-no-tensor-modes

Please update this issue with feedback

I'll send news once I have the version with r=3e-3

[2020-05-19 16:44] cbischoff commented on #12
I calculated EE spectra for the CMB sims (SAT only). It looks like the beam sizes don't match what is listed in Table 3-1 of the DSR. In particular, it looks like you are using too small of a beam for 30, 40, 145, 155, and 270 GHz. Beam size looks pretty good for 85, 95, and 220 GHz.

[2020-05-19 17:25] zonca commented on #11
ok, NERSC fixed the issue, this is working now.

[2020-05-19 17:25] #11 closed

[2020-05-19 17:41] zonca commented on #12
thanks @cbischoff, I used beams from `s4sim`, started investigation here: https://github.com/CMB-S4/s4sim/issues/12

[2020-05-19 17:47] zonca commented on #8
@cbischoff ran spectra, available temporarily here:
http://bicep.rc.fas.harvard.edu/cbischoff/DM_AWG_noise/

Suggested there were issues with the maps, which @keskitalo identified as:

1) The TOD was not cleared between MC realizations, causing the noise to increase iteration after iteration.
2) The focalplane thinning factor was not consistent.

@keskitalo reran the input maps, @zonca reran the d

[2020-05-19 22:41] cbischoff commented on #8
I have updated that posting, added text, and moved it to a permanent location.
http://bicep.rc.fas.harvard.edu/CMB-S4/analysis_logbook/20200519_DM_AWG_noise/
(also linked from the [CMB-S4 wiki Simulation and Forecasting Logbook](https://cmb-s4.org/wiki/index.php/Simulation_and_Forecasting_Logbook))

[2020-05-19 22:57] keskitalo commented on #8
Thanks @cbischoff . It appears that even with the corrections, the 145GHz BB noise is 5X lower in the DM sim. That is a pretty glaring discrepancy.

[2020-05-19 23:15] keskitalo commented on #8
In Colin's table, the DSR and low-ell-BB noise bias at 145GHz is 15% lower than at 155GHz. In the DM sim, the difference in 49%. This is entirely consistent with the NET levels in https://github.com/CMB-S4/s4sim/blob/master/s4sim/hardware/config.py (238 and 331). Do the DSR noise levels include an extra noise component not present in the NET? If not, why are the NET levels so different?

[2020-06-02 16:44] zonca opened #13 "New reference design release with fixed SAT noise and LAT beams"
* [x] New pole SAT simulations available at `/global/cscratch1/sd/keskital/s4sim/reference_tool/out`
* [x] wait for https://github.com/CMB-S4/s4sim/pull/8 to be merged
* [x] update the hardware configuration dump https://github.com/CMB-S4/s4_design_sim_tool/blob/master/cmbs4_tophat.h5 and crosscheck with tables in DSR
* [x] implement CMB tensor from https://github.com/simonsobs/so_pysm_models/issu

[2020-06-02 19:09] zonca commented on #13
CMB tensor modes implemented, ran a test simulation for SAT with r=1e-3 (will use 3e-3 for production run), scale is in uK_CMB, seems reasonable given input in https://github.com/simonsobs/so_pysm_models/issues/48#issuecomment-637691952:

![image](https://user-images.githubusercontent.com/383090/83559135-eaec7180-a4c8-11ea-850c-59c4e23f1f85.png)

[2020-06-02 19:13] jdborrill commented on #13
I thought we had settled on 0, 1-e3, and 1e-2 to span the range of interest.

Julian

On Tue, Jun 2, 2020 at 12:09 PM Andrea Zonca <notifications@github.com>
wrote:

[2020-06-02 19:20] zonca commented on #12
ok, will do another release, see the plan in #13

[2020-06-02 19:20] #12 closed

[2020-06-02 19:21] zonca commented on #8
rerun everything, see #13

[2020-06-02 19:21] #8 closed

[2020-06-02 19:22] zonca commented on #2
@keskitalo do you recommend we change anything in the scaling of the atmosphere for the next run (in #13)?

[2020-06-02 19:23] zonca commented on #4
focusing on the reference design release first, will get back to work on the web interface later on.

[2020-06-02 19:23] #4 closed

[2020-06-02 19:26] zonca commented on #13
@jdborrill see https://github.com/simonsobs/so_pysm_models/issues/48

[2020-06-02 19:32] keskitalo commented on #2
@zonca Excellent question! We could decide to adjust the per-tube scaling to better match the map-based SAT simulations. However, there has been little focus on the SAT temperature sims. Much more critical would be to include some amount of detector mismatch and *then* scale the resulting polarized atmosphere. I propose we enable 1% gain mismatch in the sims, keep the tube scaling factors for now.

[2020-06-09 00:05] zonca commented on #13
let's assume https://github.com/CMB-S4/s4sim/pull/8 is fine, beams are final, noise not yet, but I'm not using noise directly so it should be fine.
I'll use the tip of that branch as the instrument model, commit hash `c57d15d3ee9beb453cc600435f7eba8d08ff3dcd`

Exported values:

## ULFL1
Bandpass [GHz] low,center,high:  17.5 20.0 22.5
Beam [arcmin]:  10.0
## LFL1
Bandpass [GHz] low,center,high:  24

[2020-06-09 01:24] zonca commented on #13
@smsimon I was comparing the SAT beams from `s4sim` (see above) to the ones in the DSR table.
I think `MFLS` and `MFHS` are switched, can you crosscheck?

![image](https://user-images.githubusercontent.com/383090/84095776-07027e00-a9b5-11ea-996c-664e549e6b12.png)

Or is the table in the DSR that has the wrong column headers? how is the one with lower frequency named High?

[2020-06-09 06:51] zonca commented on #13
I assumed `s4sim` figures were correct and produced a new set of input sky simulations.
@keskitalo can you run them through the time domain simulations?
the 4 set of maps you need are described in https://github.com/CMB-S4/s4mapbasedsims/tree/master/202006_foregrounds_extragalactic_cmb_tophat#combined-maps, basically just changed the base folder. The SAT maps are ready, I am running the combining

[2020-06-09 15:51] smsimon commented on #13
They are right in s4sim. The column headers in the DSR are wrong here (95/155 is certainly higher than 85/145!). The DSR spreadsheet has them correctly labeled, and it makes physical sense.

[2020-06-09 16:34] zonca commented on #2
ok, agreed

[2020-06-09 16:34] #2 closed

[2020-06-17 16:59] zonca commented on #10
@cbischoff I put tsz and ksz into the foregrounds map, is that ok or they should be into the CMB?

[2020-06-17 17:06] zonca commented on #13
ok, @keskitalo has executed the time domain simulations, he needs to rerun the SAT.
So for now I have executed the LAT simulations, need validation.

[2020-06-26 17:32] zonca commented on #13
@keskitalo discovered issue in LAT Chile noise and reran the TOD simulations.

Need to run the tool again pointing at:

    /global/cscratch1/sd/keskital/s4sim/reference_tool/out_v1

and then go with the validation and release.

[2020-06-29 03:43] zonca commented on #13
ok I launched atmo + noise again with the new input maps. I'll use the foreground and CMB I already ran before, as I believe nothing changed, (please @keskitalo let me know if this is wrong).

I'm also preparing another CMB tensor set of maps which include TT and EE.

[2020-06-29 06:51] zonca commented on #13
@keskitalo I have rerun the CMB tensors including also TT and EE, I have replaced the old ones in the folder:

[code]

and the `512` folder.
Can you please rerun the TOD simulations of those?

[2020-06-29 13:03] keskitalo commented on #13
I'll get right on it.

[2020-06-29 13:23] keskitalo commented on #13
@zonca these maps are ring-ordered, unlike the earlier batch. The pipeline will only work with nested maps. Should I re-order the maps or is it easy for you to do?

[2020-06-29 14:24] keskitalo commented on #13
I am reordering the maps. They will appear here: `/global/cscratch1/sd/keskital/s4sim/reference_tool/cmb_tensor` if you want copies in your directory.

[2020-06-29 15:49] zonca commented on #13
sorry @keskitalo completely forgot about ordering, I actually modified `mapsims` to always save nested from now on so this won't happen again.

[2020-06-29 15:59] keskitalo commented on #13
Looks like the maps are in uK_CMB. Is it difficult for you to account for that during the co-add?

[2020-06-29 16:24] zonca commented on #13
maps from mapsims are always in `uK_CMB`, in `s4_design_sim_tool` instead input foregrounds/CMB are in `uK_CMB`, input noise and atmo are `K_CMB`, outputs are `K_CMB`.

[2020-06-29 18:48] keskitalo commented on #13
The new tensor maps are now in place under `out_v1`.

[2020-06-29 19:06] zonca commented on #13
thanks @keskitalo can you please fix permissions? e.g. `/global/cscratch1/sd/keskital/s4sim/reference_tool/out_v1/00000000/chile_cmb-tensors_LAT_HFL1_filtered_telescope_all_time_all_bmap.fits`

[2020-06-29 19:10] keskitalo commented on #13
Oops! Done.

[2020-06-29 19:59] #10 closed

[2020-06-29 20:01] zonca commented on #13
ok, @keskitalo @jdborrill, the new release is ready at:

`/global/cscratch1/sd/zonca/cmbs4/s4refsimtool`

next I'll implement weighting of hitmaps and noise cov matrices (the input ones are in `/global/cscratch1/sd/keskital/s4sim/reference_tool/out_v1`), then I'll proceed with proper validation.

@cbischoff would you like to start checking those maps?

Docs about the release are at https://github.

[2020-07-01 06:33] zonca commented on #9
@keskitalo I implemented this, and my tests fail.

Using `/global/cscratch1/sd/keskital/s4sim/reference_tool/out_v1/`
`00000000/pole_noise_SAT_HFS1_filtered_telescope_all_time_all_hmap.fits`

If I do:

[code]

observing efficiency is 0.4629

I get ~17.3 Hz instead of 100 Hz (https://github.com/CMB-S4/s4sim/issues/14)

Can you crosscheck my factors? in particular number of detectors, I got it from

[2020-07-01 14:07] keskitalo commented on #9
As I said on the other thread, you would expect to find 20Hz, not 100Hz. However, some efficiency is lost in the turnarounds that is not accounted for in your efficiency factor.

This does actually raise an important point. Since the simulation tool already includes an overall efficiency factor, we should *not* be suppressing the efficiency based on the turnarounds. I went ahead and calculated the

[2020-07-01 16:44] zonca commented on #9
thanks,
so now with:

[code]

I get 20.4 Hz which is good.

When I compute the full hitmap, should I account for the factor of 5 between simulation sampling rate (20 Hz) and experiment sampling rate (100 Hz) or you weighted the instrument noise to already compensate for that?

[2020-07-01 17:10] keskitalo commented on #9
The NETs are independent of the sampling frequency. So are the `*_wcov.fits` white noise covariance matrices. It would be great if you could scale the hit maps but I doubt it will make any difference to most users.

[2020-07-01 17:46] tcrawfor commented on #9
Sorry, Reijo, what do these "efficiencies" represent? How are they calculated? Anything with a 92% overall efficiency rings some pretty strong alarm bells.

--
Tom Crawford
University of Chicago
Department of Astronomy & Astrophysics
773-702-1564

[2020-07-01 17:58] keskitalo commented on #9
@tcrawfor This is the integration time in our simulation divided by 10 days, the nominal simulation length. The idea is that the user is already setting the overall efficiency (default is 0.2), and we don't want to add any other efficiency factors on top of it.

[2020-07-01 18:11] zonca commented on #9
@keskitalo now I am checking the `wcov` matrices.

I am working with `HFS1`, so checking in `config.py` in the Pull Request https://github.com/CMB-S4/s4sim/pull/8,
the NET should be `747 uK*sqrt(s)`, same as the DSR:

https://github.com/CMB-S4/s4sim/blob/c2732f0e8fb014392cef664ff4213bf47133aaac/s4sim/hardware/config.py#L546

I load the `cc(2,2)` column, which should be EE noise covariance.

`input

[2020-07-01 19:00] keskitalo commented on #9
That is exactly what you would expect. The NET is given for intensity and solving for polarization adds a factor of `sqrt(2)`. In other words, `Var(Q) = Var(U) = 2 x Var(I)` for an experiment with ideal polarization efficiency and sampling of position angles.

As for `astropy.units`, just imagine how cool it was if `healpy.read_map()` got the units from the FITS header and returned `HealpixMap` ob

[2020-07-01 19:12] zonca commented on #9
definitely! at some point in the next 10 years I'll implement that!

[2020-07-01 19:18] zonca commented on #9
@keskitalo also PySM has a wrapper around `read_map` that applies units read from headers: https://pysm3.readthedocs.io/en/latest/api/pysm3.read_map.html#pysm3.read_map

[2020-07-01 20:14] zonca commented on #9
ok, this is implemented and crosschecked, see details here: https://cmb-s4.github.io/s4_design_sim_tool/hitmap_wcov/

now I will implement support in the command line client, execute it and add hitmaps and wcov matrices to the release https://github.com/CMB-S4/s4mapbasedsims/tree/master/202006_reference_design

[2020-07-02 18:59] zonca commented on #9
ok, implemented support in the command line client and executed the simulations again. See #13

[2020-07-02 19:00] zonca commented on #13
Reran the atmosphere + noise simulations with the fix on efficiency provided by @keskitalo. Now also have hitmaps and noise covariance matrices as implemented in #9.
Working now on validation.

[2020-07-02 21:35] zonca commented on #9
@keskitalo the validation works with 8438 detectors for the HFS1 band, which is the DSR number,
while in the spreadsheet https://docs.google.com/spreadsheets/d/1X0x8wYhjHdI_WPjhgbtyVlVQrX86tTgxgqEUhan2Hxg/edit?pli=1#gid=1404929524 the number of detectors is 8594.

Can you please give me a table of the number of detectors per band that you used so I can use that for validation? Is there a versioned

[2020-07-02 21:52] keskitalo commented on #9
@smsimon should have that information. The DSR detector counts for the HF bands had an error in them that is fixed in the spreadsheet and in `s4sim`.

[2020-07-02 22:18] smsimon commented on #9
@zonca the number of HFS pixels went up because the DSR was rounding on the number of pixels on the partial wafer. In a real layout, the HFS partial wafers get an additional 13 pixels (26 detectors for each frequency). Each HFS optics tube has 6 partial wafers. 8438+26*6=8594.

[2020-07-04 16:39] zonca commented on #9
ok, good, thank you both, with the fixed number consistency of hitmaps and wcov is improved. Number of detectors per tube in now in my export of the instrument model, see https://github.com/CMB-S4/s4sim/issues/15

[2020-07-04 16:39] #9 closed

[2020-07-06 03:43] zonca opened #14 "Validation of the 202006 reference design run"
Run described in #13,
see documentation at:
https://github.com/CMB-S4/s4mapbasedsims/tree/master/202006_reference_design

I am working on validating the atmosphere and noise.

* SAT full mission is fine
* LAT 9/13 pass, 4 fail

[2020-07-06 03:53] zonca commented on #13
see #14 for validation

[2020-07-06 03:53] #13 closed

[2020-07-06 04:02] zonca commented on #14
@keskitalo for example LFL2 at Pole, it seems to me the noise covariance matrix is 20% off.
Can you please crosscheck?

See my notebook here: https://gist.github.com/zonca/e88a1364c69d798d5802c03f7666c2a1

The LFL1 at Pole instead has noise covariance matrix within 5% and good agreement on spectra:

![image](https://user-images.githubusercontent.com/383090/86554555-d144ac80-bf02-11ea-964e-5374df35

[2020-07-07 03:31] zonca commented on #14
This is instead the one that fails:

![image](https://user-images.githubusercontent.com/383090/86702228-9c4e5d80-bfc7-11ea-86e6-b4ce6ef182bb.png)

[2020-07-07 17:56] keskitalo commented on #14
@zonca I verified that the noise matrices accurately model the noise in the pure noise maps. Scaling the pixel values with the estimated noise covariance produces RMS=1. The problem seems to be in the atmospheric maps. I tried tricking the code to re-use the atmospheric realization from another LAT (to avoid the costly caching step) but it seems have confused the hardware selection so detectors ar

[2020-07-07 22:25] keskitalo commented on #14
@zonca You are probably using the Chile LAT noise levels for the Pole LAT test. This is part of the noise level update. In the hardware map the Pole LAT bands have an extra "P" in their name: `LFL1 -> LFPL1` etc. Here are the NET values and their ratios:

[code]

[2020-07-07 22:35] zonca commented on #14
I noticed those channels and I thought it was something related to the new 85 tubes focal plane but was not affecting our simulations. Thanks, I'll resume the validation. Hope this is the last issue I encounter.

[2020-07-08 02:17] zonca commented on #14
@keskitalo you exchanged pole and chile in your table. Anyway I crosschecked with `s4sim` and now exported here: https://github.com/CMB-S4/s4mapbasedsims/blob/master/202006_foregrounds_extragalactic_cmb_tophat/cmbs4_tophat.csv

The `LAT-LFL2_pole` white noise covariance test now passes, I'm running all the others and preparing the release.

[2020-07-08 06:31] zonca commented on #14
ok, all my validation tests pass,
the release seems fine to me.

I did a quick crosscheck also of the foregrounds, the transfer function between inputs and outputs looks complicated, so hard to assess, but at least the order of magnitude looks fine.

@cbischoff @keskitalo @jdborrill see the documentation here: https://github.com/CMB-S4/s4mapbasedsims/blob/master/202006_reference_design/README.md

[2020-07-08 06:31] #14 closed

[2020-10-22 15:50] zonca opened #15 "Implement atmosphere scaling parameter"
Currently we only have a boolean flag to include or exclude the atmosphere:

https://github.com/CMB-S4/s4_design_sim_tool/blob/master/s4_reference_design.toml#L33

@keskitalo suggested to add capability of scaling to the atmosphere in the design tool.

* should we have 2 different parameters, one for temperature and one for polarization?
* is a scalar enough or we want to have it scale dependent a

[2020-11-06 00:10] keskitalo commented on #15
Having separate scalings for temperature and polarization sounds good. The T->P leakage for atmosphere may well be scale-dependent but until there is a model, I would hold on adding that degree of freedom.

[2020-11-10 06:58] zonca commented on #15
implemented in #16

[2020-11-10 06:58] #15 closed

[2020-11-18 16:36] zonca opened #17 "Implement map based noise realizations"
Many groups need thousands of noise realizations, TOD simulations are too expensive for that.
We should have a way of running **also** map noise realization that we can use for some applications, the standard set of simulations will still use TOD noise simulations.

[2020-11-18 16:45] zonca opened #18 "Varying observing efficiency by frequency"
Currently we have 20% observing efficiency for all frequencies:

https://github.com/CMB-S4/s4_design_sim_tool/blob/2821bff66a80c2a6650d7e3fb47e4789ca239f8d/s4_reference_design.toml#L24

However in real instruments higher frequencies have lower efficiency.
We should implement a way to specify observing frequency for each frequency of the tubes and also some standard functional variation (e.g. expon

[2020-11-18 17:03] jdborrill commented on #18
It's not completely clear that we should do this simply as a
frequency-dependent efficiency factor.

The efficiency cuts implemented by experiments are primarily weather-based,
whereas we are sampling from the full weather distribution but do not have
a data quality/selection step, so in effect we're including "bad" data even
with the efficiency cut. An alternative would therefore be to threshold

[2020-11-18 17:11] zonca commented on #18
@keskitalo @cbischoff it looks like this can be implemented in the TOD simulations of atmosphere.
On top of that do we also need it in the tool?

[2020-11-18 20:13] cbischoff commented on #18
I think the efficiency factor applies to white noise / detector noise as well. It's tricky to tease it apart, but if 220/270 GHz channels just get cut harder, then that just means less total integration time for those maps.

[2021-01-06 03:01] zonca commented on #18
ok, I implemented this in #20 as described in the simulation plan,
see example configuration: https://github.com/CMB-S4/s4_design_sim_tool/pull/20/commits/d5656b2da42522cc0c54f4db8e6c3f71d7b36063

it supports specifying:

* one default value for all channels
* value for individual site/telescope/band
* default by site
* default by site/telescope

[2021-03-03 20:33] #18 closed